# To reuse serializer for irradiation recipes
public net.minecraft.item.crafting.CookingRecipeSerializer$IFactory

# To use shortcut in implementing metal boat sinking
protected net.minecraft.entity.item.BoatEntity func_184449_t()Lnet/minecraft/entity/item/BoatEntity$Status; # getBoatStatus

# To better replicate vanilla teleportation in our own teleportation code
public net.minecraft.entity.player.ServerPlayerEntity field_184851_cj # invulnerableDimensionChange

# To register our custom loot entry type for land loot
public net.minecraft.world.storage.loot.LootEntryManager func_216194_a(Lnet/minecraft/world/storage/loot/LootEntry$Serializer;)V # func_216194_a