name: Build

on:
  push:
    branches: 
      - '1.18'
      - 'upcoming-content'
  pull_request:
    branches: 
      - '1.18'
      - 'upcoming-content'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Gradle Build
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build
    - name: Data Generation
      uses: gradle/gradle-build-action@v2
      with:
        arguments: :runData
    - name: Has File Changes
      uses: mskri/check-uncommitted-changes-action@v1.0.1
