name: Pull Request CI

on: [ pull_request_target ]

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: dbelyaev/action-checkstyle@v1.7.1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          checkstyle_config: .github/workflows/checkstyle.xml
